extends layout

block content
  h1 HBC Schedules release
  p Welcome to the HBC Schedules release, please upload a .CSV file of the schedule to continue.

  form(action='schedule/submit', enctype='multipart/form-data', method='post')
    //input(type='file', name='ScheduleFile', accept='.csv')
    input(type='file', name='ScheduleFile', required)
    br
    br
    button(type='submit') submit